.choose-detail-container {
  .choose-detail-title {
    padding: 15px 30px;
  }
  .details-choosing-and-clear-container {
    padding: 20px 30px;
    .details-choosing-title {
      margin-bottom: 15px;
    }
    .details-clear-button {
      margin-top: 20px;
    }
  }
  .details-container {
    margin-top: 2;
    padding: 20px 30px;
  }
}
