.subcategory-button {
  margin-top: 0.5em;
  .subcategory-link {
    display: inline-flex;
    width: 100%;
    color: black;
    transition: background-color 0.2s;
    vertical-align: middle;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #fff;
    .subcategory-name-and-nums {
      display: flex;
      min-height: 34px;
      padding: 5px 18px 5px 14px;
      transform: translateX(5px);
      flex: 1 1 auto;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}
