.goods-container {
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  width: calc((100% - 125px) / 8 - 0.1px);
  padding: 12.5px 12.5px;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  .goodsName {
    font-size: 12px;
    text-align: left;
    margin-right: 0.2em;
    margin-left: 0.2em;
  }
  .price {
    text-align: left;
    .sellingPrice {
      font-size: 22px;
      font-weight: bold;
      text-align: left;
    }
  }
}
